@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  50% {
    opacity: 1;
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0rem); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  50% {
    opacity: 1;
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0rem); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  100% {
    opacity: 1;
    transform: translateY(0rem); } }

*,
*::after,
*::before {
  margin: 0rem;
  padding: 0rem;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  padding: 2rem;
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
  padding: 2rem; }

.primary-heading {
  color: #fff;
  text-transform: uppercase; }
  .primary-heading-main {
    display: block;
    font-weight: 400;
    font-size: 6rem;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 5s; }
  .primary-heading-sub {
    display: block;
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: 1.75rem;
    animation-name: moveInRight;
    animation-duration: 5s; }

.secondary-heading {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .2rem;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
  transition: all .2s; }
  .secondary-heading:hover {
    transform: skewX(20deg) skewY(2deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.tertiary-heading {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-text-center {
  text-align: center; }

.u-mb-small {
  margin-bottom: 1rem; }

.u-mb-medium {
  margin-bottom: 4rem; }

.u-mb-big {
  margin-bottom: 8rem; }

.u-mt-huge {
  margin-top: 10rem; }

.bg_video {
  top: 0;
  left: 0;
  position: absolute;
  object-fit: cover;
  z-index: -1;
  opacity: .25; }

.btn, .btn:link, .btn:visited {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  margin: 3rem;
  padding: 1.5rem 4rem;
  border-radius: 5rem;
  transition: all 0.3s;
  position: relative;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-0.6rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5); }
  .btn:hover::after {
    transform: scale(2);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-0.1rem);
  box-shadow: 0 5rem 10rem rgba(0, 0, 0, 0.7); }

.btn-white {
  background-color: #fff;
  color: #777; }
  .btn-white::after {
    color: #fff; }

.btn-green {
  background-color: #55c57a;
  color: #fff; }

.btn-animated {
  animation: moveInBottom 2s; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 5rem;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  transition: all .4s; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #55c57a;
  text-decoration: none;
  display: inline-block;
  border-bottom: 1px solid #55c57a;
  transition: all .2s;
  padding: .3rem; }

.btn-text:hover {
  color: #fff;
  background-color: #55c57a;
  transform: translateY(-1rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5); }

.btn-text:active {
  transform: translateY(0);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5); }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem; }
  .card-side {
    font-size: 2rem;
    border-radius: .3rem;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    position: absolute;
    width: 100%;
    height: 50rem;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transition: all 2s ease;
    overflow: hidden; }
    .card-side__front {
      background-color: #fff; }
    .card-side__back {
      transform: rotateY(-180deg); }
      .card-side__back_1 {
        background-image: linear-gradient(to bottom right, #ffb900, #ff7730); }
      .card-side__back_2 {
        background-image: linear-gradient(to bottom right, #7ed56f, #28b485); }
      .card-side__back_3 {
        background-image: linear-gradient(to bottom right, #2998ff, #5643fa); }
  .card:hover .card-side__front {
    transform: rotateY(180deg); }
  .card:hover .card-side__back {
    transform: rotateY(0deg); }
  .card_picture {
    background-blend-mode: screen;
    background-size: cover;
    height: 23rem;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 80% 85%, 0 100%); }
    .card_picture--1 {
      background-image: linear-gradient(#ffb900, #ff7730), url("/img/nat-5.jpg"); }
    .card_picture--2 {
      background-image: linear-gradient(#7ed56f, #28b485), url("/img/nat-6.jpg"); }
    .card_picture--3 {
      background-image: linear-gradient(#2998ff, #5643fa), url("/img/nat-7.jpg"); }
  .card-heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    top: 15rem;
    right: 3rem;
    width: 75%;
    text-align: right; }
  .card-heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card-heading-span--1 {
      background-image: linear-gradient(rgba(255, 185, 0, 0.7), rgba(255, 119, 48, 0.7)); }
    .card-heading-span--2 {
      background-image: linear-gradient(rgba(126, 213, 111, 0.7), rgba(40, 180, 133, 0.7)); }
    .card-heading-span--3 {
      background-image: linear-gradient(rgba(41, 152, 255, 0.7), rgba(86, 67, 250, 0.7)); }
  .card-details {
    text-align: center;
    padding: 3rem 0; }
    .card-details ul {
      list-style: none;
      font-size: 1.7rem;
      width: 70%;
      margin: auto; }
    .card-details li {
      padding: .7rem 0; }
      .card-details li:not(:last-child) {
        border-bottom: 1.2px solid #eee; }
  .card_cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card__price-box {
    color: #fff;
    margin-bottom: 3rem; }
  .card__price-only {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 100; }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    position: absolute;
    display: inline-block;
    z-index: 10;
    transition: all .2s; }
    .composition__photo1 {
      top: -2rem;
      left: 5rem; }
    .composition__photo2 {
      top: 6rem;
      right: 10rem; }
    .composition__photo3 {
      top: 8rem; }
    .composition__photo:hover {
      z-index: 20;
      outline: 1.5rem solid #55c57a;
      outline-offset: 1.5rem;
      transform: scale(1.05) translateY(-5rem);
      box-shadow: 0 3rem 2rem rgba(0, 0, 0, 0.7); }

.emoji-box {
  width: 20rem;
  height: 20rem;
  background-color: #FFDA6A;
  clip-path: circle(50%);
  margin: auto;
  position: relative; }

.eye {
  left: calc(50% - 3px);
  top: 30px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: transparent;
  box-shadow: -6px 0 0 0 black, -36px 0 0 0px black, 6px 0 0 0 black, 36px 0 0 0px black; }

.left-eye {
  left: 3.5rem; }

.right-eye {
  right: 3.5rem; }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2.5rem;
  font-size: 1.5rem;
  border-radius: .3rem;
  text-align: center;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  transition: all .2s; }
  .feature-box__icon {
    background-image: linear-gradient(#7ed56f, #28b485);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 6rem;
    margin-bottom: .5rem; }
  .feature-box:hover {
    transform: translateY(-2rem) scale(1.03); }

.form_group:not(:last-child) {
  margin-bottom: 2rem; }

.form_input {
  font-size: 1.5rem;
  font: inherit;
  width: 90%;
  display: block;
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  border-radius: 3px;
  height: auto;
  padding: 1.5rem 2rem;
  color: inherit; }
  .form_input::-webkit-input-placeholder {
    color: #999; }

.form_input:focus {
  outline: none;
  border-bottom: 3px solid #55c57a;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3); }
  .form_input:focus:invalid {
    border-bottom: 3px solid rgba(255, 0, 0, 0.8); }

.form_label {
  font-size: 1.2rem;
  margin-top: .7rem;
  margin-left: 2rem;
  font-weight: 700;
  display: block;
  transition: all .3s; }

.form_input:placeholder-shown + .form_label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-3rem); }

.form_radio-group {
  width: 49%;
  display: inline-block; }

.form_radio-input {
  opacity: 0; }

.form_radio-label {
  font-size: 1.8rem;
  cursor: pointer;
  position: relative;
  padding-left: 4rem; }

.form_radio-button {
  position: absolute;
  display: inline;
  left: 0;
  top: -.1rem;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  border: 0.5rem solid #28b485; }
  .form_radio-button::after {
    content: "";
    position: absolute;
    display: block;
    height: 1.4rem;
    width: 1.4rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #28b485;
    opacity: 0; }

.form_radio-input:checked ~ .form_radio-label .form_radio-button::after {
  opacity: 1; }

.popup {
  background-color: rgba(0, 0, 0, 0.9);
  height: 100vh;
  width: 100%;
  z-index: 2000;
  top: 0;
  left: 0;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  transition: all .3s; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup_content {
    width: 75%;
    background-color: rgba(255, 255, 255, 0.8);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    position: absolute;
    border-radius: 3px;
    overflow: hidden;
    display: table;
    opacity: 0;
    transition: all .5s .2s; }
  .popup:target .popup_content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .popup_left-col {
    width: 33.3333%;
    display: table-cell; }
  .popup_right-col {
    padding: 3rem 5rem;
    width: 66.6667%;
    display: table-cell;
    vertical-align: middle; }
  .popup_img {
    width: 100%;
    display: block; }
  .popup_text {
    font-size: 1.4rem;
    font-weight: 500;
    columns: 2;
    column-gap: 4rem;
    column-rule: 2px solid rgba(51, 51, 51, 0.2);
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto; }
  .popup_close:visited, .popup_close:link {
    text-decoration: none;
    color: black;
    font-size: 4rem;
    position: absolute;
    right: 2.5rem;
    top: 2.5rem;
    display: inline-block; }

.story {
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 1.5rem 6rem rgba(0, 0, 0, 0.4);
  width: 75%;
  padding: 6rem;
  margin: auto;
  border-radius: 3px;
  transform: skewX(-12deg);
  font-size: 1.6rem; }
  .story__circularshape {
    z-index: 10;
    float: left;
    height: 15rem;
    width: 15rem;
    clip-path: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    transform: translateX(-2rem) skewX(12deg);
    position: relative; }
    .story__circularshape--img {
      height: 100%;
      position: absolute;
      transform: translate(-4rem) scale(1.4); }
    .story__circularshape--caption {
      text-align: center;
      font-size: 1.8rem;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 0);
      color: #fff;
      text-transform: uppercase;
      position: absolute;
      opacity: 0;
      transition: all .5s ease-in; }
    .story__circularshape:hover .story__circularshape--caption {
      opacity: 1;
      transform: translate(-50%, -50%); }
    .story__circularshape:hover .story__circularshape--img {
      transform: translateX(-4rem) scale(1);
      filter: blur(4px) brightness(0.8); }
  .story__text {
    transform: skewX(12deg);
    z-index: 5; }

.footer {
  background-color: #333;
  padding: 10rem 0;
  font-size: 1.6rem;
  color: #f7f7f7; }
  .footer_logo-box {
    text-align: center;
    margin-bottom: 8rem; }
  .footer_logo {
    width: 15rem;
    height: auto; }
  .footer_navigation {
    display: inline-block;
    border-top: 0.1rem solid #eee;
    padding: 1rem; }
  .footer_list {
    list-style: none; }
  .footer_item {
    display: inline-block;
    margin: 1rem; }
  .footer_link, .footer_link:link, .footer_link:visited {
    display: inline-block;
    margin: 0;
    text-decoration: none;
    color: white;
    text-transform: uppercase; }
  .footer_link:hover, .footer_link:active {
    background-color: #333;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: rotate(5deg) scale(1.03);
    color: #55c57a; }
  .footer_copyright {
    display: inline-block;
    border-top: 0.1rem solid #eee;
    padding: 1rem; }

.row {
  max-width: 115rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem)/2);
    float: left; }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3);
    float: left; }
  .row .col-2-of-3 {
    width: calc(2 * (100% - 2 * 6rem)/3 + 6rem);
    float: left; }
  .row .col-1-of-4 {
    width: calc((100% - 3* 6rem)/4);
    float: left; }
  .row .col-2-of-4 {
    width: calc((100% - 6rem)*1/2);
    float: left; }
  .row .col-3-of-4 {
    width: calc(3* (100% - 3 * 6rem)/4 + 2 * 6rem);
    float: left; }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/hero.jpg");
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  position: relative; }
  .header .logo-box {
    position: absolute;
    left: 4rem;
    top: 4rem; }
  .header .logo {
    height: 3.5rem; }
  .header .text-box {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    text-align: center;
    backface-visibility: hidden; }

.navigation_checkbox {
  display: none; }

.navigation_button {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-color: #fff;
  top: 5rem;
  right: 5rem;
  position: fixed;
  text-align: center;
  z-index: 1001;
  cursor: pointer;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4); }

.navigation_background {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-image: radial-gradient(#7ed56f, #28b485);
  top: 5.5rem;
  right: 5.5rem;
  position: fixed;
  z-index: 900;
  transition: all 0.5s cubic-bezier(0.86, 0, 0.07, 1); }

.navigation_nav {
  opacity: 0;
  width: 0;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1000;
  transition: all 0.5s cubic-bezier(0.86, 0, 0.07, 1); }

.navigation_list {
  list-style: none;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.navigation_item {
  margin: 1rem; }

.navigation_link, .navigation_link:visited, .navigation_link:link {
  display: inline-block;
  padding: 1rem;
  text-decoration: none;
  color: #fff;
  font-size: 3rem;
  font-weight: 300;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 230%;
  transition: all .4s ease-in-out; }

.navigation_link:hover, .navigation_link:active {
  background-position: 100%;
  transform: translateX(-1rem);
  color: #55c57a; }

.navigation_checkbox:checked ~ .navigation_background {
  transform: scale(70); }

.navigation_checkbox:checked ~ .navigation_nav {
  opacity: 1;
  width: 100%; }

.navigation_icon {
  position: relative;
  margin-top: 3rem; }
  .navigation_icon::after, .navigation_icon, .navigation_icon::before {
    width: 3rem;
    height: 2px;
    display: inline-block;
    background-color: #333; }
  .navigation_icon::before, .navigation_icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation_icon::before {
    top: -.8rem; }
  .navigation_icon::after {
    top: .8rem; }

.navigation_button:hover .navigation_icon::after {
  top: 1rem; }

.navigation_button:hover .navigation_icon::before {
  top: -1rem; }

.navigation_checkbox:checked + .navigation_button .navigation_icon {
  background-color: transparent; }

.navigation_checkbox:checked + .navigation_button .navigation_icon::after {
  transform: rotate(135deg);
  top: 0rem; }

.navigation_checkbox:checked + .navigation_button .navigation_icon::before {
  transform: rotate(-135deg);
  top: 0; }

.section-about {
  margin-top: -20vh;
  background-color: #f7f7f7;
  padding: 25rem 0; }

.section-feature {
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("/img/nat-4.jpg");
  padding: 20rem 0;
  transform: skewY(-7deg);
  background-size: cover;
  margin-top: -10rem; }
  .section-feature > * {
    transform: skewY(7deg); }

.section-tour {
  background-color: rgba(127, 127, 127, 0.2);
  padding: 20rem 0 4rem 0;
  margin-top: -10rem; }

.section-story {
  padding: 10rem 0;
  position: relative;
  overflow: hidden;
  z-index: 0; }

.section-book {
  padding: 10rem 0;
  margin-top: -0.55rem;
  background-image: linear-gradient(to bottom right, #7ed56f, #28b485); }

.book {
  background-size: cover;
  margin: auto;
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.75) 50%, transparent 50%), url("/img/nat-10.jpg");
  border-radius: 3px;
  box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.5); }
  .book__form {
    width: 50%;
    padding: 4rem; }
