.composition {
    position: relative;

    &__photo {
        width: 55%;
        position: absolute;
        display: inline-block;
        z-index: 10;
        transition: all .2s;

        @include respond(tab-port) {
            position: relative;
            width: 33.333%;
            float: left;
        }

        &1 {
            top: -2rem;
            left: 5rem;

            @include respond(tab-port) {
                left: 2rem;
                top: 1rem;
            }

            // @include respond(phone) {
            //     left: -1rem;
            //     top: 1rem;
            // }
        }

        &2 {
            top: 6rem;
            right: 10rem;

            @include respond(tab-port) {
                top: 2rem;

                left: 1rem;
                z-index: 11;
            }

            // @include respond(phone) {
            //     top: 2rem;
            // }
        }

        &3 {
            top: 8rem;

            @include respond(tab-port) {
                top: 1rem;
                right: 2rem;
            }

            // @include respond(phone) {
            //     right: -1rem;
            //     top: 1rem;
            // }
        }

        &:hover {
            z-index: 20;
            outline: 1.5rem solid $color-primary;
            outline-offset: 1.5rem;
            transform: scale(1.05) translateY(-5rem);
            box-shadow: 0 3rem 2rem rgba($color-black, 0.7);
        }
    }
}