.popup {
    background-color: rgba($color-black, .9);
    height: 100vh;
    width: 100%;
    z-index: 2000;
    top: 0;
    left: 0;
    position: fixed;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;


    &:target {
        opacity: 1;
        visibility: visible;

    }

    &_content {
        width: 75%;
        background-color: rgba($color-white, .8);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(.5);
        position: absolute;
        border-radius: 3px;
        overflow: hidden;
        display: table;
        opacity: 0;
        transition: all .5s .2s;

        @include respond(tab-land) {
            width: 98%;
        }

        @include respond(tab-port) {
            width: 90%;
        }

    }


    &:target &_content {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }

    &_left-col {
        width: 33.3333%;
        display: table-cell;

        @include respond(tab-port) {
            width: 100%;
            display: table;
        }

    }

    &_right-col {
        padding: 3rem 5rem;
        width: 100%- 33.3333%;
        display: table-cell;
        vertical-align: middle;


        @include respond(tab-port) {
            width: 100%;
            display: inline-block;
            padding: 2rem;
        }
    }

    &_img {
        width: 100%;
        display: block;

        @include respond(tab-port) {
            width: 50%;
            display: inline-block;
        }

    }

    &_text {
        font-size: 1.4rem;
        font-weight: 500;
        columns: 2;
        column-gap: 4rem;
        column-rule: 2px solid rgba($color-grey-dark-2, .2);
        -webkit-hyphens: auto;
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        hyphens: auto;


        @include respond(tab-port) {
            columns: 1;
            text-align: justify;

        }

    }

    &_close {

        &:visited,
        &:link {
            text-decoration: none;
            color: $color-black;
            font-size: 4rem;
            position: absolute;
            right: 2.5rem;
            top: 2.5rem;
            display: inline-block;

            @include respond(tab-port) {
                right: 1rem;
                top: -.5rem;
            }
        }
    }
}