.story {
    background-color: rgba($color-white, .6);
    box-shadow: 0 1.5rem 6rem rgba($color-black, .4);
    width: 75%;
    padding: 6rem;
    margin: auto;
    border-radius: 3px;
    transform: skewX(-12deg);
    font-size: 1.6rem;

    &__circularshape {
        z-index: 10;
        float: left;
        height: 15rem;
        width: 15rem;
        clip-path: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
        transform: translateX(-2rem) skewX(12deg);
        position: relative;

        &--img {
            height: 100%;
            position: absolute;
            transform: translate(-4rem) scale(1.4);


        }

        &--caption {
            text-align: center;
            font-size: 1.8rem;
            top: 50%;
            left: 50%;
            transform: translate(-50%, 0);
            color: $color-white;
            text-transform: uppercase;
            position: absolute;
            opacity: 0;
            transition: all .5s ease-in;

        }

        &:hover &--caption {
            opacity: 1;
            transform: translate(-50%, -50%)
        }

        &:hover &--img {
            transform: translateX(-4rem) scale(1.0);
            filter: blur(4px) brightness(.8);
        }
    }


    &__text {
        transform: skewX(12deg);
        z-index: 5;
    }
}