*,
*::after,
*::before {
    margin: 0rem;
    padding: 0rem;
    box-sizing: inherit;

}

html {
    font-size: 62.5%; //1rem = 10px 


    // @include respond(tab-land) {
    //     font-size: 75%; //1rem = 10px
    // }

    @include respond(tab-port) {
        font-size: 62.5%; //1rem = 9px
    }

    @include respond(phone) {
        font-size: 50%; //1rem = 8px
    }

    @include respond(big-screen) {
        font-size: 75%; //1rem = 12px
    }
}

body {
    padding: 2rem;
    box-sizing: border-box;

    @include respond(phone) {
        padding: .5rem;
    }


}